@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Header Content
	3.3 Logo
	3.4 Main Nav
	3.5 Hamburger
4. Menu
5. Home
6. Language
7. Courses
12. Footer



******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Poppins:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.71;
	font-weight: 400;
	color: rgba(0,0,0,0.5);
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 40px;}
h2{font-size: 30px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.nopadding
{
	padding: 0px !important;
}

/*********************************
6. Language
*********************************/





.header_search
{
	display: inline-block;
	width: 25px;
	height: 150px;
	vertical-align: middle;
	margin-left: 290px; 

}
.search_form_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	background: white;
	width: auto;
	height: 40px;
	overflow: hidden;
}
.search_form_container.active .search_form
{
	left: 0;
}
.search_form
{
	display: block;
	position: relative;
	left: 330px;
	width: 350px;
	height: 40px;
}
.header_search_input
{
	width: 100%;
	background: transparent;
	height: 40px;
	border: none;
	padding-left: 33px;
	visibility: hidden;
}

.header_search_input::-webkit-input-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 300 !important;
	color: rgba(0,0,0,0.1) !important;
}
.header_search_input:-moz-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 300 !important;
	color: rgba(0,0,0,0.15) !important;
}
.header_search_input::-moz-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.15) !important;
} 
.header_search_input:-ms-input-placeholder
{ 
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.15) !important;
}
.header_search_input::input-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.15) !important;
}
.search_form_container.active .header_search_input
{
	visibility: visible;
	opacity: 1;
	border-bottom: solid 2px #d9d9d9;
}
.search_button
{
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}

.search_button i,

{
	font-size: 18px;
	color: rgba(0,0,0,0.3);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}



/*********************************
7. Courses
*********************************/


.Box{
  position: relative;
  width: 200px;
  height: 300px;
  background: #000;
  box-shadow: 0 30px 30px rgba(0,0,0,.5);
  margin-top: 39px;
  margin-right:20px;

}

.Box .imgBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Box .imgBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.Box:hover .imgBox img{
    opacity: 0;
}

.Box .content{
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 75%;
  height: 50px;
  background: #f8f8f8;
  transition: 0.5s;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
}

  .Box:hover .content{
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
  }

  .Box .content h5{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }

  .Box .content p{
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1em;
    transition: 0.5s;
    text-align: justify;
    font-size: 13px;
    
      }

  .Box:hover .content p{
    opacity: 1;
    transition-delay: 0.5s;
  }
  
